<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header>
        <!-- place navbar here -->
    </header>
    <main>

        <div th:each="errorMessage : ${errorMessages}">
            <div class="alert alert-danger" role="alert" th:text="${errorMessage}">Alert</div>
        </div>


        <form action="/signup" th:action="@{/signup}" method='POST' th:object="${newUserDTO}">
            <div class="container">
                <div class="row m-1 ">
                    <div class="col-2"> </div>
                    <div class="col-8 ">
                        <h1 class="text-center m-4">Register new user</h1>
                        <label class="form-label ">Email address:</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}"></input>
                        <label class="form-label">Password:</label>
                        <input type="password" class="form-control" id="password1" th:field="*{password1}"></input>
                        <label class="form-label">Retype password:</label>
                        <input type="password" class="form-control" id="password2" th:field="*{password2}"></input>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary mt-4" type="submit">Register new user</button>
                        </div>
                    </div>
                    <div class="col-2"> </div>
                </div>
            </div>
        </form>






    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>